@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --text: #0b0f19;
        --background: #eaedf6;
        --primary: #2c3f6d;
        --secondary: #839ad2;
        --accent: #3c5eb4;
        --fundo: #d1d1d1;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #e6eaf4;
        --background: #090c15;
        --primary: #93a6d4;
        --secondary: #2d447c;
        --accent: #4a6dc2;
        --fundo: #1a1f2d;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--text);
    transition: background 0.2s;
}

/* header */

header {
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}

nav ul li a:hover {
    text-decoration-color: var(--secondary);
    transition: 0.3s;
    color: var(--accent);
}

#insta-logo, #linkedin-logo, #github-logo {
    width: 1.5rem;
    transition: filter 0.2s;
}

#insta-logo:hover, #linkedin-logo:hover, #github-logo:hover {
    filter: invert(0.5);
}

.ui-switch {
    --switch-bg: var(--accent);
    --switch-width: 48px;
    --switch-height: 20px;
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    margin-left: auto;
    display: flex;
    align-items: center;
}

.ui-switch input {
    display: none;
}

.slider {
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: center center;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    transition: all 500ms;
    opacity: 0;
}

.ui-switch input:checked + .slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
}

.ui-switch input:active + .slider .circle::before {
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

.light {
    --text: #0b0f19;
    --background: #eaedf6;
    --primary: #2c3f6d;
    --secondary: #839ad2;
    --accent: #3c5eb4;
    --fundo: #d1d1d1;
}

.logo-seta {
    padding-top: 8em;
    text-align: center;
}

#seta {
    margin: auto;
    animation: jump infinite 3s;
    position: absolute;
    transition: 0.3s;
}

#seta:hover{
    filter: invert(65%);

}

@keyframes jump {
    0% {
        padding-top: 0em;
    }

    50% {
        padding-top: 1em;
    }

    100% {
        padding-top: 0em;
    }
}

/* sections */

#myName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text);
    font-family: 'Roboto Mono', sans-serif;
}

#myName h1 {
    font-size: 6rem;
    text-align: center;
}


#front {
    width: 210px;
    animation: typing 2.5s steps(25) infinite alternate, blink .3s step-end infinite alternate;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2rem;
    color: var(--accent);
    padding-left: 1.3em;
}

#typing2 {
    font-size: 2.5em;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
}

@keyframes typing {
    from {
        width: 1px;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}



.sobre {
    padding: 4rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.sobre h2 {
    font-size: 3rem;
    color: var(--text);
    text-align: center;
    padding-bottom: 1em;
}

.sobre p {
    font-size: 1.2rem;
    width: 40em;
    padding-top: 1em;
    text-align: left;
}

#fotoEu {
    width: 300px;
    border-radius: 10px;
    background-color: var(--fundo);
}

/* habilidades */

.habilidades {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.habilidades>h2 {
    font-size: 3em;
}

.habilidades p {
    font-size: 1.2rem;
    margin: 0 auto 2rem auto;
    max-width: 800px;
}

.img-habilidades {
    width: 7em;
    padding-top: 1.5em;
}

/* Projetos */

.projetos {
    padding: 4rem 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.projetos h2 {
    font-size: 3rem;
    color: var(--text);
}

.projetos p {
    font-size: 1.2rem;
    margin: 0 auto 2rem auto;
    max-width: 800px;
}

.carrosel {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 2em;
    flex-wrap: wrap;
}

.carrosel .projetos:last-child {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

.projeto {
    width: 300px;
    padding: 20px;
    background-color: var(--fundo);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    transition: 2s;
    box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.075);
}

.projeto:hover {
    background-color: var(--accent);
    transition: 2s;
}

.imgs-projetos {
    transform: scale(1.8);
}

.projeto img {
    width: 17em;
    transition: filter 0.3s;
}

.projeto:hover img {
    filter: brightness(0.8);
}

.projeto h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.projeto .descricao {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: var(--background);
    color: var(--text);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.projeto:hover .descricao {
    opacity: 1;
    transition: 0.5s;
}

/* contato */

#contato {
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#contato>h2 {
    text-align: center;
    font-size: 3em;
}

label {
    font-size: 1.5em;
}

input {
    height: 2.5em;
    width: 35rem;
    background-color: var(--fundo);
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-size: 1.2em;
    padding-left: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.116)
}

#mensagem {
    height: 10em;
    width: 40em;
    background-color: var(--fundo);
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-size: 18px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.281)
}

#linkedin {
    width: 40px;
}

.lista-logos {
    height: 2.5em;
    transition: filter 0.3s;
    display: inline;
    justify-content: center;
    align-items: center;
    transition: filter 0.3s;
    padding-left: 10px;
}

.lista-logos:hover {
    filter: invert(0.5);
}

#enviar {
    cursor: pointer;
    height: 3em;
    width: 8em;
    text-align: center;
    background-color: var(--fundo);
    border: none;
    color: var(--text);
    font-family: 'Roboto Mono', sans-serif;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1em
}

#enviar:hover {
    background-color: var(--accent);
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.384)
}

/* Footer */

form {
    text-align: center;
    font-size: 1em;
}

footer {
    background-color: var(--fundo);
    height: 3em;
    text-align: center;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

#footer-fabio {
    text-decoration: underline;
}

/* @media */

@media (max-width: 750px) {
    #mensagem {
        width: 30em;
    }
}

@media (max-width: 425px) {
    .projetos {
        display: inline-flexbox;
    }

    #myName h1 {
        font-size: 3em;
    }

    #front {
        width: 230px;
        animation: typing 2.5s steps(25) infinite alternate, blink .3s step-end infinite alternate;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 2rem;
        color: var(--accent);
        padding-left: 1.3em;
    }

}

@media (max-width: 460px) {

    #insta-logo,
    #linkedin-logo,
    #github-logo,
    #barra {
        display: none;
    }

    nav ul li a {
        font-size: 0.8em;
        display: table-cell;
    }
}

@media (max-width: 980px) {
    .sobre-container {
        display: inline-block;
    }

    #fotoEu {
        padding-top: 2em;
        border-radius: 10px;
    }
}

@media (max-width: 785px) {
    .sobre p {
        width: 30em;
    }
}

@media (max-width: 610px) {
    .sobre p {
        font-size: 1em;
    }

    #insta-logo {
        width: 1.5rem;
        transition: filter 0.2s;
        padding-top: 10px;
    }

    #linkedin-logo {
        width: 1.5rem;
        transition: filter 0.2s;
    }

    #github-logo {
        width: 1.5rem;
        transition: filter 0.2s;
    }

    #github-logo:hover {
        width: 1rem;
        filter: invert(0.5);
    }
}

@media (max-width: 920px) {
    .carrosel {
        display: grid;
        place-items: center;
    }
}

@media (max-width: 580px) {

    input,
    #mensagem {
        width: 15em;
    }
}

@media (max-width: 500px) {
    .sobre p {
        width: 22em;
    }

    .typing {
        font-size: 25.5px;
        width: 310px;
    }
}

@media (min-width: 1117px) {
    .sobre p {

        padding-left: 2em;
    }
}

@media (max-width: 1583px) {
    .imgs-projetos {
        transform: scale(1.3);
    }
}

@media (max-width: 1175px) {
    .imgs-projetos {
        transform: scale(1.1);
    }
}

@media (max-width: 370px) {
    .sobre p {
        font-size: 0.9em;
    }

    .habilidades {
        font-size: 1em;
    }

    .habilidades p {
        font-size: 1em
    }

    ;
}

@media (max-width: 334px) {
    #fotoEu {
        width: 250px;
    }

    .sobre p {
        font-size: 1em;
        width: 290px;
    }

    .projeto img {
        width: 13em;
        transition: filter 0.3s;
    }

    .projeto .descricao {
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 0.8rem;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        background: var(--background);
        color: var(--text);
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
    }

    .projeto:hover .descricao {
        opacity: 1;
        transition: 0.5s;
    }

    .projeto {
        width: 250px;
    }

    .img-habilidades {
        width: 80px;
    }
}
